@charset "UTF-8";
/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */
@font-face {
    font-family: myfont;
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: myfont2;
    src: url(../fonts/Fontspring-DEMO-integralcf-bold.otf);
}

html {
    font-size: 62.5%;
}

body {
    font-family: myfont, myfont2;
}

/* Navigation */
nav {
    width: 100%;
    background-color: #ffffff;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .logo img {
    margin-left: 50px;
    margin-top: 20px;
    width: 100px;
}

.container .links a {
    color: rgb(5, 5, 5);
    text-decoration: none;
    cursor: pointer;
    position: relative;
    right: 25px;
    margin: 0px 28px;
    transition: 0.3s linear;
}

a {
    font-size: 18px;
}

.links a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    background-color: #000000;
    height: 3.5px;
    transition: 0.3s linear;
}

.links a:hover::before,
.link a:hover {
    color: #10c9f7;
    width: 100%;
}

/* Product Display */
header {
    height: 64vh;
    width: 100%;
}

.main-flex-container,
.main-flex-container2 {
    display: flex;
    width: 100%;
    margin: 5px;
}

a.anchor {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    width: 23%;
    margin: 30px 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 25px 0px #acaaaa4f;
    padding: 10px;
    transition: 0.5s ease;
}

a.anchor:hover {
    scale: 88%;
}

div.flex-items {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}

.img-box img,
.img-box1 img,
.img-box-4 img,
.img-box5 img {
    object-fit: cover;
    object-position: center;
}

.img-box img {
    height: 125px;
    width: 150px;
}

.img-box1 img {
    margin-top: 20px;
    width: 220px;
}

.img-box-4 img {
    width: 150px;
}

.img-box5 img {
    width: 127px;
    scale: 120%;
}

.text-box {
    margin-top: 20px;
}

.text-box h1 {
    font-size: 21px;
    margin: 6px;
}

.text-box h2 {
    font-size: 16px;
    margin: 5px;
}

/* Product Buttons */
[class^="product-page-button"] {
    position: relative;
}

.product-page-button1 {
    left: 172px;
    top: 20px;
}
.product-page-button2,
.product-page-button3 {
    top: 30px;
}
.product-page-button4 {
    bottom: 20px;
}
.product-page-button5,
.product-page-button6,
.product-page-button7 {
    bottom: -20px;
}
.product-page-button8 {
    bottom: 21px;
}

[class^="product-page-button"] button {
    display: inline-block;
    scale: 130%;
}

/* General Button Styling */
button {
    display: inline-block;
    padding: 8px 10px;
    margin-top: 30px;
    border-radius: 25px;
    outline: none;
    border: none;
}

button:hover {
    background-color: rgb(216, 216, 216);
}

/* Footer */
.footer {
    width: 100%;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    background: #ccc;
    color: #000000;
    padding: 50px 0 30px;
    font-size: 13px;
    line-height: 20px;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2),
.col:nth-child(3) {
    flex-basis: 15%;
}

.col p {
    scale: 95%;
}

.logo1 {
    width: 170px;
    margin-bottom: 30px;
}

.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    font-size: 20px;
}

ul li {
    list-style: none;
    margin-bottom: 12px;
    font-size: 20px;
}

ul li a,
.col a {
    text-decoration: none;
    color: #000000;
    font-size: 17px;
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #000000;
    margin: 20px;
}

.copyright {
    display: flex;
    justify-content: center;
    background-color: #ccc;
    font-size: 16px;
}















































































